.rightbar {
  flex: 4;
}

.rightbarWrap {
  padding: 15px 20px 0 20px;
}

.birthdayContainer {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.birthdayImg {
  height: 40px;
  width: 40px;
  margin-top: 0px;
  margin-right: 5px;
}

.birthdayText {
  font-weight: 400;
  margin-top: 10px;
  font-size: 17px;
}

.imgAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0 30px 0;
  cursor: pointer;
}

.rightbarTitle {
  margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: 500px;
  margin-bottom: 10px;
}

.rightbarInfo {
  margin-top: 15px;
  margin-bottom: 25px;
}
.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValue {
  font-weight: 300;
}
.rightbarTitlefriends {
  margin-top: 30px;
}
.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px 10px 0;
  cursor: pointer;
}

.rightbarFollowingImg {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

.rightbarFollowBtn {
  top: 40px;
  left: 200px;
  width: 200px;
  height: 40px;
}

.container {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.animated-word {
  font-family: "Helvetica";
  letter-spacing: 0.05rem;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  color: #313853;
  cursor: pointer;
  max-width: 600px;
  width: 60%;
  outline: 3px solid;
  outline-color: rgba(71, 126, 232, 0.5);
  outline-offset: 10px;
  transition: all 500ms cubic-bezier(0.2, 0, 0, 0.8);
  background-color: white;
  border: none;
}

.animated-word:hover {
  color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 50px;
}
