.sidebarFriendItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.friendImg{
    width:35px;
    height:35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}