.share {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 1px 10px 0px rgba(86, 93, 182, 0.63);
}

.shareWrap {
  padding: 20px;
}

.shareImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 30px 20px 25px 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 10px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.shareIcon {
  margin: 5px;
  margin-left: 10px;
  font-size: 18px;
}

.shareOptionText {
  font-style: 15px;
  font-weight: 500;
}

.shareButton {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: green;
  font-weight: 500;
  color: white;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.shareButton:hover {
  background-color: rgb(5, 151, 5);
}

.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareImgpreview {
  width: 100%;
  object-fit: cover;
}

.shareImgCancel {
  position: absolute;
  top: 0;
  font-size: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0.8;
}
