.rightbarFriendItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}


.rightbarOnline{
    width: 10px;
    height: 10px;
    background-color: limegreen;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid #ffffff;
}

.rightbarUsername{
    font-weight: 500;
}